@import "base.css";
@import "swiper.min.css";
@import "../fonts/iconfont/iconfont.css";

::-webkit-scrollbar {
  display: none;
}

html, body {
  width: 100%;
  height: 100%;
}

@themeColor1: #9dc815;
@themeColor2: #c30f23;
.centerX() {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.centerY() {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.centerXY() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.nowrap() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.line-camp(@line) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: @line;
  /*! autoprefixer: off */
  -webkit-box-orient: vertical;
}

.triangle(@_,@wwww,@ccccc) {
  width: 0;
  height: 0;
  overflow: hidden;
}

.triangle(L,@w,@c) {
  border-width: @w;
  border-style: dashed solid dashed dashed;
  border-color: transparent @c transparent transparent;
}

.triangle(R,@w,@c) {
  border-width: @w;
  border-style: dashed dashed dashed solid;
  border-color: transparent transparent transparent @c;
}

.triangle(T,@w,@c) {
  border-width: @w;
  border-style: dashed dashed solid dashed;
  border-color: transparent transparent @c transparent;
}

.triangle(B,@w,@c) {
  border-width: @w;
  border-style: solid dashed dashed dashed;
  border-color: @c transparent transparent transparent;
}

.coverImg() {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.clearfix() {
  &::after {
    content: '';
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
    clear: both;
  }
}

.main {
  padding: 0 .2rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  height: 1rem;
  display: flex;
  align-items: center;
  z-index: 9;

  .main {
    width: 100%;
  }

  .logo {
    float: left;

    img {
      width: 2.18rem;
      display: block;
    }

    h1 {
      font-size: 0;
      line-height: 0;
      visibility: hidden;
      text-indent: -9999px;
    }
  }

  .header-desc {
    float: left;
    line-height: .4rem;
    background-color: @themeColor1;
    margin-left: .1rem;
    font-size: .26rem;
    color: #fff;
    padding: 0 .15rem;
  }

  .btn {
    float: right;
    display: flex;


    .btn-search {
      margin-right: .3rem;
    }

    i {
      font-size: .4rem;
      color: @themeColor1;
      line-height: 1;
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.2rem;
  background-color: @themeColor1;
  z-index: 9;

  .wrap {
    height: 100%;
  }

  ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  li {
    width: 25%;
    text-align: center;
    border-right: 1px solid #86ad0c;

    &:last-child {
      border-right: 0;
    }

    a {
      display: block;
      color: #fff;

      .iconfont {
        display: block;
        margin: 0 auto;
        font-size: .54rem;
        line-height: 1;
      }

      span {
        font-size: .28rem;
      }
    }


  }
}

#siderNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 999;
  //opacity: 0;
  visibility: hidden;
  overflow-x: hidden;
  //transition-property: transform;
  transition-duration: .4s;

  &.hidden {
    //opacity: 0;
    visibility: hidden;
    transform: translateY(-100%);
  }

  &.show {
    //opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .siderNav-top {
    height: 1rem;
    display: flex;
    align-items: center;
    z-index: 9;
    border-bottom: 1px solid @themeColor1;

    .main {
      width: 100%;
    }

    .logo {
      float: left;

      img {
        width: 2.88rem;
        display: block;
      }

      h1 {
        font-size: 0;
        line-height: 0;
        visibility: hidden;
        text-indent: -9999px;
      }
    }

    .btn {
      float: right;

      .btn-close {
        i {
          font-size: .32rem;
          color: @themeColor1;
          line-height: 0.53rem;
        }
      }

    }
  }

  .siderNav-wrap {
    height: calc(~"100% - 1rem");
    overflow-y: auto;

    li {
      border-bottom: dashed 1px #e5e5e5;

      a {
        position: relative;
        display: block;
        line-height: .99rem;
        font-size: .3rem;
        color: #555;


        &::after {
          position: absolute;
          content: '→';
          display: block;
          top: 0;
          right: 0;
          font-size: 0.3rem;
          color: #c7c7c7;
        }

        &.active {
          color: @themeColor1;

          &::after {
            color: @themeColor1;
          }
        }
      }
    }
  }
}

#searchWrap {
  position: fixed;
  top: 1rem;
  width: 100%;
  height: calc(~"100% - 1rem");
  z-index: 10;
  background-color: rgba(0, 0, 0, .5);
  overflow: hidden;
  transition-duration: .5s;

  &.hidden {
    opacity: 0;
    visibility: hidden;

    .searchWrap-wrap {
      transform: translateY(-100%);
    }
  }

  &.show {
    opacity: 1;
    visibility: visible;

    .searchWrap-wrap {
      transform: translateY(0);
    }
  }

  .searchWrap-wrap {
    background-color: #eee;
    height: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .3s;

    .main {
      width: 100%;
    }

    .wrap {
      position: relative;
    }

    input {
      display: block;
      width: 100%;
      height: .76rem;
      border-radius: 1rem;
      outline: 0;
      padding: 0 1.5rem 0 .4rem;
      font-size: .28rem;
      color: #333;
      border: 1px solid transparent;
      transition-property: border-color;
      transition-duration: .3s;

      &:focus {
        border-color: @themeColor1;
      }
    }

    button {
      position: absolute;
      width: 1.25rem;
      height: .76rem;
      right: 0;
      top: 0;
      background-color: @themeColor1;
      color: #fff;
      border: 0;
      outline: 0;
      border-radius: 1rem;
      cursor: pointer;

      i {
        font-size: .4rem;
      }
    }
  }
}

#headerNav {
  ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }

  li {
    //width: 20%;
    width: 1.4rem;

    text-align: center;
    //flex-grow: 4;
    //float: left;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;

    &:nth-child(3),
    &:nth-child(8) {
      width: 1.9rem;
    }

    &:nth-child(5n) {
      border-right: 0;
    }

    a {
      display: block;
      font-size: .28rem;
      color: #fff;
      line-height: .78rem;
      background-color: @themeColor1;

      &.active {
        background-color: #83aa08;
      }
    }
  }
}

#container {
  position: fixed;
  width: 100%;
  height: calc(~"100% - 2.2rem");
  top: 1rem;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: auto;

}

#totop {
  position: fixed;
  right: .2rem;
  bottom: 2.5rem;
  width: .72rem;
  height: .72rem;
  background-color: @themeColor2;
  border-radius: 50%;
  display: none;

  .wrap {
    text-align: center;

    i {
      font-size: .5rem;
      color: #fff;
      line-height: .72rem;
    }
  }
}

.banner {
  img {
    display: block;
  }
}

.copyright {
  padding: .6rem 0;

  .footer-nav {
    margin-bottom: 0.5rem;

    li {
      width: 2.2rem;
      height: .5rem;
      float: left;
      background-color: #1b1b1b;
      border-radius: .1rem;
      text-align: center;
      line-height: .5rem;
      margin-bottom: .25rem;
      margin-right: .25rem;

      &:nth-child(3n) {
        margin-right: 0;
      }

      &:nth-child(3) ~ li {
        margin-bottom: 0;
      }

      a {
        font-size: .26rem;
        color: #fff;
      }
    }
  }

  .wechat {
    display: flex;
    justify-content: center;
    align-items: center;

    .pic {
      width: 1.84rem;
      margin-right: 0.3rem;

      img {
        display: block;
      }
    }

    .con {
      p {
        font-size: .26rem;
        color: #333;
      }

      span {
        display: block;
        font-size: .24rem;
        color: #666;
        margin-top: .15rem;
      }
    }
  }

  .copyright-info {
    text-align: center;
    font-size: .26rem;
    color: #888;
    margin-top: 0.3rem;
  }

}


//
//
//
//
//
.instruct {
  .wrap {
    padding: .6rem 0;
  }

  li {
    width: 1.66rem;
    height: 1.66rem;
    border-radius: 0.1rem;
    border: solid 1px @themeColor1;
    background-image: url(../img/icon_grandson.png);
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    margin-right: .15rem;
    text-align: center;


    &:nth-child(1) {
      background-position: 0 0;
    }

    &:nth-child(2) {
      background-position: -1.83rem 0;
    }

    &:nth-child(3) {
      background-position: -3.53rem 0;
    }

    &:nth-child(4) {
      background-position: -5.3rem 0;
      margin-right: 0;
    }

    a {
      display: block;
      width: 100%;
      height: 100%;
      font-size: .26rem;
      color: #666;
      padding-top: 1.1rem;
    }
  }
}

.plate-logo {
  img {
    display: block;
    width: 1.07rem;
    margin: 0 auto;
  }

  &.plate-logo2 {
    margin-bottom: .1rem;

    img {
      width: 3.04rem;
    }
  }
}

.plate-title {
  text-align: center;
  font-size: .48rem;
  color: #333;
  overflow: hidden;

  &.white {
    span {
      color: #fff;

      &::before, &::after {
        height: .31rem;
      }

      &::before {
        background: url(../img/title_left_02.png) center right/cover no-repeat;
      }

      &::after {
        background: url(../img/title_right_02.png) center left/cover no-repeat;
        left: 100%;
      }
    }
  }

  span {
    font-size: 0.48rem;
    color: #333;
    position: relative;
    padding: 0 0.4rem;
    //font-weight: bold;

    &::before, &::after {
      position: absolute;
      content: '';
      display: block;
      width: 4.66rem;
      height: 0.31rem;
      top: 50%;
      transform: translateY(-50%);

    }

    &::before {
      background: url(../img/title_left.png) center right/cover no-repeat;
      right: 100%;
    }

    &::after {
      background: url(../img/title_right.png) center left/cover no-repeat;
      left: 100%;
    }
  }

}

.plate-desc {
  text-align: center;
  font-size: .24rem;
  color: #666;
  margin-top: .1rem;
  line-height: .36rem;

  &.white {
    color: #fff;
  }
}

.perplex {
  .wrap {
    padding: 0.5rem 0;
  }

  .list {
    position: relative;

    &::after {
      position: absolute;
      content: '';
      display: block;
      width: 1px;
      height: 100%;
      background-color: #bfbfbf;
      .centerXY();
      z-index: 0;
    }

    ul {
      position: relative;
      z-index: 2;
    }

    li {
      position: relative;
      .clearfix();

      .pic {
        width: 3rem;
        height: 2.28rem;
        border-radius: 0.1rem;
        border: solid 1px #eee;
        overflow: hidden;

        img {
          .coverImg();
        }
      }

      span {
        position: absolute;
        display: block;
        float: left;
        width: 0.8rem;
        height: 0.8rem;
        background-color: #9dc816;
        border-radius: 50%;
        text-align: center;
        line-height: .8rem;
        color: #fff;
        font-size: .54rem;
        .centerXY();
      }

      .con {
        width: 3rem;
        height: 2.28rem;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
          font-size: .32rem;
          color: #333;

          b {
            font-weight: bold;
          }
        }
      }

      &:nth-of-type(odd) {
        .pic {
          float: left;
        }

        .con {
          float: right;
        }
      }

      &:nth-of-type(even) {
        .pic {
          float: right;
        }

        .con {
          float: left;
        }
      }
    }
  }

  .btn {
    margin-top: .5rem;

    a {
      display: block;
      width: 2.6rem;
      height: 0.71rem;
      border-radius: .5rem;
      border: solid 1px @themeColor1;
      text-align: center;
      line-height: .69rem;
      margin: 0 auto;
      font-size: .36rem;
      color: @themeColor1;
    }
  }
}

.diy {
  background-color: @themeColor1;

  .main {
    padding: .8rem .2rem;
  }

  .wrap {
    margin-top: .5rem;
  }


  .swiper-container {
    width: 100%;
    padding-bottom: .5rem;
    padding-left: 1px;
  }

  .swiper-pagination {
    bottom: 0;
  }

  .swiper-slide {
    height: 2.6rem;
    text-align: center;
    border-right: #8ab10d solid 1px;
    font-size: 0;
    padding: 0 .35rem;

    &:first-child {
      border-left: #8ab10d solid 1px;
    }

    i {
      display: block;
      width: 0.89rem;
      height: 0.89rem;
      background: url(../img/diy_ibg.png) center center/cover no-repeat;
      margin: 0 auto;
      font-size: .4rem;
      line-height: 0.89rem;
      text-align: center;
      color: @themeColor1;
    }

    p {
      font-size: .28rem;
      color: #fff;
      margin: 0.2rem 0;
    }

    span {
      font-size: .18rem;
      color: #f5f5f5;
      line-height: 0.24rem;
    }
  }

  .btn {
    margin-top: .35rem;

    a {
      display: block;
      width: 2.8rem;
      height: 0.67rem;
      background-color: #9dc816;
      border-radius: .5rem;
      border: solid 1px #fff;
      font-size: .26rem;
      color: #fff;
      line-height: .65rem;
      text-align: center;
      margin: 0 auto;
    }
  }
}

.mfilm {
  video {
    display: block;
    width: 100%;
    height: auto;
  }
}

.advantage {
  .main {
    padding: .8rem .2rem;
  }

  .wrap {
    position: relative;
    margin-top: .25rem;
    padding-top: 1.2rem;
    padding-bottom: 1rem;

    .center {
      width: 5.3rem;
      margin: 0 auto;
    }

    .items {
      position: absolute;

      .num {
        display: inline-block;
        border-bottom: solid #b8b8b8 1px;


        span {
          font-size: .6rem;
          color: @themeColor1;
          border-bottom: solid #b8b8b8 1px;
        }
      }

      .txt {
        font-size: .26rem;
        color: #333;
        line-height: .36rem;
        margin-top: .15rem;
      }

      &.p1 {
        left: 0;
        top: 0;
      }

      &.p2 {
        left: 0;
        top: 2.7rem;
      }

      &.p3 {
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        display: flex;

        .num {
          margin-right: .15rem;
        }
      }

      &.p4 {
        right: 0;
        top: 2.7rem;
        text-align: right;
      }

      &.p5 {
        right: 0;
        top: 0;
        text-align: right;
      }
    }
  }
}

.recommend-home {
  .main {
    padding-bottom: .8rem;
  }

  .list-tabs {
    font-size: 0;
    text-align: center;
    margin: .4rem 0;

    ul {
      display: inline-block;
    }

    li {
      width: 2.02rem;
      height: 0.7rem;
      border-radius: 0.5rem;
      border: solid 1px #e5e5e5;
      text-align: center;
      line-height: .68rem;
      font-size: .26rem;
      color: #333;
      float: left;
      margin: 0 .1rem;
      transition-duration: .2s;

      &.active {
        color: #fff;
        background-color: @themeColor1;
        border-color: @themeColor1;
      }
    }
  }

  .list-box {
    .list-item {
      display: none;
    }

    .frist {
      margin-bottom: .2rem;

      .pic {
        width: 4.5rem;
        height: 3.2rem;
        float: left;

        img {
          .coverImg();
        }
      }

      .con {
        width: 2.6rem;
        height: 3.2rem;
        float: left;
        text-align: center;
        border: solid 1px #e5e5e5;
        border-left: 0;

        .tit {
          font-size: .28rem;
          color: @themeColor1;
          margin-top: .2rem;
        }

        .params {
          font-size: 0.18rem;
          line-height: 2;
          margin-top: 0.1rem;

          span {
            display: block;
            color: #666;
          }
        }

        .mimgs {
          margin: .1rem 0;

          img {
            display: block;
            margin: 0 auto;
            width: 1.6rem;
          }
        }

        .btn {
          text-align: center;
          font-size: 0;
          margin-top: 0;

          a {
            display: inline-block;
            width: 1.81rem;
            height: 0.51rem;
            border-radius: 0.5rem;
            border: solid 1px @themeColor1;

            span {
              font-size: 0.2rem;
              color: @themeColor1;
              line-height: .49rem;
            }

          }
        }
      }
    }

    li {
      //box-shadow: 0 4px 16px 4px rgba(68, 68, 68, 0.16);
      border: solid 1px #e5e5e5;
      width: 3.45rem;
      overflow: hidden;
      transition-duration: .3s;
      float: left;
      margin-right: .2rem;
      margin-bottom: .2rem;

      &:nth-child(2n) {
        margin-right: 0;
      }

      .pic {
        height: 2.34rem;

        img {
          .coverImg()
        }
      }

      .con {
        text-align: center;
        padding: 0.2rem;

        .tit {
          font-size: .3rem;
          color: #333;
          margin-bottom: 0.1rem;

        }

        .params {
          span {
            display: block;
            font-size: .24rem;
            color: #666;
            line-height: 0.4rem;
          }
        }
      }
    }

    .btn {
      font-size: 0;
      text-align: center;
      margin-top: 0.5rem;

      a {
        display: inline-block;
        width: 2.5rem;
        height: 0.71rem;
        border-radius: 0.5rem;
        line-height: 0.69rem;
        text-align: center;
        margin: 0 0.25rem;

        span, i {
          font-size: .28rem;
          color: #fff;
        }

        i {
          margin-right: 0.1rem;
        }

        &.more {
          border: 1px solid @themeColor1;

          i, span {
            color: @themeColor1;
          }
        }

        &.zixun {
          border: 1px solid @themeColor2;

          i, span {
            color: @themeColor2;
          }
        }
      }
    }
  }
}

.adv {
  background: url(../img/adv_bg.jpg) center center/cover no-repeat;
  padding: .8rem 0;

  .txt {

    p {
      font-size: .48rem;
      color: #fff;
      text-align: center;
      margin-bottom: .2rem;
    }

    b {
      color: @themeColor2;
      text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
    }

    i {
      font-size: .5rem;
      font-style: italic;
      margin-right: .1rem;
    }

    span {
      display: block;
      width: 5.68rem;
      height: .71rem;
      background: url(../img/ttt.png) center center/cover no-repeat;
      font-size: .28rem;
      color: #fff;
      text-align: center;
      line-height: .52rem;
      margin: 0 auto;
    }
  }

  .tel {
    text-align: center;
    font-size: 0;

    img {
      width: .51rem;
      margin-right: .1rem;
    }

    span {
      font-size: .42rem;
      color: #fff;
      vertical-align: bottom;
      //background-image: url(../img/icon_dianhua.png);
      //background-repeat: no-repeat;
      //background-position: 0 center;
      //background-size: .5rem .5rem;

    }
  }

  .btn {
    margin-top: .3rem;

    a {
      display: block;
      width: 3.46rem;
      height: 0.71rem;
      background-color: #fff;
      border-radius: 0.5rem;
      margin: 0 auto;
      text-align: center;
      line-height: .71rem;
      font-size: .26rem;
      color: @themeColor1;

      &::after {
        content: '';
        display: inline-block;
        .triangle(R, .1rem, @themeColor1);
        margin-left: .1rem;
      }
    }
  }

}

.advantage2 {
  .main {
    padding: .8rem .2rem;
  }

  .list {
    li {
      padding: .5rem 0;
      border-bottom: dashed 1px #dcdcdc;
    }
  }

  .btn {
    margin-top: .5rem;

    a {
      display: block;
      margin: 0 auto;
      width: 2.5rem;
      height: 0.71rem;
      background-color: #fff;
      border-radius: .5rem;
      border: solid 1px #9dc915;
      line-height: .69rem;
      text-align: center;
      font-size: .28rem;
      color: @themeColor1;
    }
  }
}

.process {
  background: url(../img/process_bg.jpg) center center/cover no-repeat;

  .main {
    padding: .8rem .2rem;
  }

  .wrap {
    margin-top: .5rem;
  }

  .list {
    margin-bottom: .6rem;

    ul {
      width: 100%;
      //text-align: justify;
      //text-align-last: justify;
      //text-justify: inter-ideograph;
      font-size: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    li {
      text-align: center;
      text-align-last: center;
      display: inline-block;
      flex: 1;

      img {
        display: block;
        width: 1.2rem;
        height: 1.2rem;
        border-radius: 50%;
        margin: 0 auto .2rem;
      }

      span {
        font-size: .24rem;
        color: #fff;
      }
    }
  }

  .btn {
    a {
      margin: 0 auto;
    }

    .tel {
      display: block;
      width: 3.9rem;
      height: 0.6rem;
      background-color: #9dc815;
      border-radius: 0.5rem;
      border: solid 1px #fff;
      text-align: center;
      margin-bottom: .4rem;

      i, span {
        font-size: .36rem;
        color: #fff;

        line-height: .58rem;
      }
    }

    .to {
      display: block;
      width: 2.5rem;
      height: 0.7rem;
      background-color: #fff;
      border-radius: 0.5rem;
      text-align: center;
      line-height: .7rem;
      font-size: .3rem;
      color: @themeColor1;
    }
  }

}

.news {
  .main {
    padding: .8rem .2rem;
  }

  .list-tabs {
    font-size: 0;
    text-align: center;
    margin: .4rem 0;

    ul {
      display: inline-block;
    }

    li {
      width: 2.02rem;
      height: 0.7rem;
      border-radius: 0.5rem;
      border: solid 1px #e5e5e5;
      text-align: center;
      line-height: .68rem;
      font-size: .26rem;
      color: #333;
      float: left;
      margin: 0 .1rem;
      transition-duration: .2s;

      &.active {
        color: #fff;
        background-color: @themeColor1;
        border-color: @themeColor1;
      }
    }
  }

  .list-box {
    .list-item {
      display: none;
    }

    .first {
      width: 100%;
      height: 4.84rem;
      position: relative;

      img {
        display: block;
        .coverImg();
      }

      p {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        line-height: .6rem;
        background-color: rgba(0, 0, 0, .6);
        padding: 0 .15rem;

        span {
          display: block;
          float: left;
          width: 80%;
          font-size: .3rem;
          color: #fff;
          .nowrap();
        }

        i {
          float: right;
          font-size: .24rem;
          color: #999;
        }
      }
    }

    ul {
      li {
        border-bottom: 1px solid #e5e5e5;;
        padding: .35rem 0;
        background-image: url(../img/icon_changyongicon-.png);
        background-size: .14rem .26rem;
        background-repeat: no-repeat;
        background-position: right center;

        .tit, .desc {
          .nowrap();
          padding-right: .5rem;
        }

        .tit {
          font-size: .3rem;
          color: #222;
          line-height: .48rem;
        }

        .desc {
          font-size: .24rem;
          color: #666;
          line-height: .48rem;
        }
      }
    }
  }

  .btn {
    margin-top: .5rem;

    a {
      display: block;
      margin: 0 auto;
      width: 2.5rem;
      height: 0.71rem;
      background-color: #fff;
      border-radius: .5rem;
      border: solid 1px #9dc915;
      line-height: .69rem;
      text-align: center;
      font-size: .28rem;
      color: @themeColor1;
    }
  }
}

.problem {
  background-color: #f6f6f6;

  .main {
    padding: .8rem .2rem;
  }

  .wrap {
    margin-top: .35rem;
  }

  .list {

    li {
      height: auto !important;
      padding: .35rem 0 .35rem 1.2rem;
      background-image: url(../img/cjwt_bg.png);
      background-size: 1rem 1rem;
      background-repeat: no-repeat;
      background-position: left center;
      border-bottom: 1px solid #e5e5e5;

      .tit {
        font-size: .3rem;
        color: #444;
        margin-bottom: .1rem;
        .nowrap();
      }

      .desc {
        font-size: .24rem;
        color: #888;
        .line-camp(2);
      }
    }
  }

  .btn {
    margin-top: .5rem;

    a {
      display: block;
      margin: 0 auto;
      width: 2.5rem;
      height: 0.71rem;
      background-color: #fff;
      border-radius: .5rem;
      border: solid 1px #9dc915;
      line-height: .69rem;
      text-align: center;
      font-size: .28rem;
      color: @themeColor1;
    }
  }
}

.crumbs {
  .wrap {
    background-image: url(../img/icon_gengduo.png);
    background-size: .21rem .21rem;
    background-repeat: no-repeat;
    background-position: left center;
    //padding: .3rem 0 .3rem .3rem;
    padding-left: .3rem;
    margin-bottom: .25rem;
  }

  a {
    font-size: .24rem;
    color: #666;
    line-height: 1;
  }
}


.sub-nav {
  background-color: #f0f0f0;
  padding: .3rem 0;

  &.white {
    background-color: #fff;
  }
}

.sub-nav-box {
  .wrap {
  }

  .list {
    li {
      width: 2.2rem;
      height: 0.7rem;

      float: left;
      text-align: center;
      line-height: .68rem;
      margin-right: .25rem;

      &:last-child {
        margin-right: 0;
      }

      a {
        display: block;
        font-size: .28rem;
        color: #333;
        background-color: #fff;
        border: solid 1px #9dc914;

        &.active {
          background-color: @themeColor1;
          border-color: @themeColor1;
          color: #fff;
        }
      }
    }
  }

  &.newsin {
    .list {
      ul {
        display: flex;
      }

      li {
        margin: 0;
        float: none;

        &:last-child {
          a {
            border-right: 1px solid @themeColor1;
          }
        }

        a {
          border-right: 0;
          font-size: .26rem;
        }
      }
    }
  }
}

.profile {
  .main {
    padding: .8rem .2rem;
  }

  .context {
    margin-top: .5rem;

    p {
      font-size: .28rem;
      color: #666;
      line-height: .48rem;
      text-indent: 2em;
    }
  }

  .btn {
    width: 100%;
    height: 1.42rem;
    margin: .5rem 0;
    background-color: #eee;
    padding: 0 .3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;


    .tel {
      background-image: url(../img/icon_dianhua11.png);
      background-size: .48rem .52rem;
      background-repeat: no-repeat;
      background-position: left center;
      padding-left: .58rem;

      span {
        font-size: .24rem;
        color: #555;
      }

      p {
        font-size: .38rem;
        color: @themeColor2;
      }
    }

    a {
      display: block;
      width: 2.2rem;
      height: 0.66rem;
      background-color: @themeColor1;
      border-radius: 0.5rem;
      text-align: center;
      line-height: .66rem;
      font-size: .3rem;
      color: #fff;
    }
  }

  .mfilm {
    height: 4.1rem;

    video {
      display: block;
      height: 100%;
      object-position: center;
      object-fit: cover;
    }
  }
}

.advantage3 {
  background: url(../img/advantage3_bg.jpg) center center/cover no-repeat;
  //background-color: @themeColor1;
  //background-image: -webkit-linear-gradient(top, transparent 8px, #96c014 10px), -webkit-linear-gradient(left, transparent 8px, #96c014 10px);
  //background-size: 0.2rem 0.2rem;

  .main {
    padding: .8rem .2rem;
  }

  .wrap {
    margin-top: .5rem;
  }

  .list {
    li {
      margin-bottom: .4rem;

      &:last-child {
        margin-bottom: 0;
      }

      img {
        display: block;
        border-radius: .2rem;
      }
    }
  }
}

.seat {
  .main {
    padding: .8rem .2rem;
  }

  .wrap {
    margin-top: .5rem;
  }

  .list {
    ul {
      font-size: 0;
      //display: flex;

      //justify-content: space-between;
      //align-items: center;
      //text-align: justify;
      //text-align-last: justify;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
    }

    li {
      width: 33.33%;
      //display: inline-block;
      text-align: center;
      margin-bottom: .4rem;
      //text-align-last: center;

      &:nth-child(3n) {
        margin-right: 0;
      }

      &:nth-child(3) ~ li {
        margin-bottom: 0;
      }

      .icon {
        margin-bottom: .2rem;

        img {
          width: 1.3rem;
        }
      }

      .cn {
        font-size: .34rem;
        color: #333;
      }

      .en {
        font-size: .24rem;
        color: #999;
      }
    }
  }
}

.culture {


  .wrap {
    margin-top: .5rem;
    padding-bottom: .8rem;
    font-size: 0;
    //display: flex;
    //align-items: center;
    //justify-content: space-evenly;
    //text-align: justify;
    //text-align-last: justify;
    //text-justify: inter-ideograph;

    .item {
      //display: inline-block;
      width: 3.65rem;
      height: 4.32rem;
      background-color: @themeColor1;
      color: #fff;
      text-align: left;
      text-align-last: left;
      overflow: hidden;
      padding: .5rem .2rem;

      &:first-child {
        border-radius: 0 .2rem .2rem 0;
        float: left;
      }


      &:last-child {
        float: right;
        border-radius: .2rem 0 0 .2rem;
      }

      .tit_cn {
        font-size: .36rem;
        font-weight: bold;
        margin-bottom: .1rem;
      }

      .tit_en, p {
        font-size: .3rem;
      }

      .tit_en {
        &::after {
          content: '';
          display: block;
          width: 1.12rem;
          height: 0.03rem;
          background-color: #fff;
          margin: .3rem 0;
        }
      }

      img {
        width: 1.53rem;
        margin-top: .2rem;
        margin-left: .3rem;
      }
    }
  }
}

.plan {
  background: url(../img/plan_bg.png) center center/cover no-repeat;
  //background-color: #2d2d2d;
  //background-image: -webkit-linear-gradient(top, transparent 8px, #1b1b1b 10px), -webkit-linear-gradient(left, transparent 8px, #1b1b1b 10px);
  //background-size: 0.2rem 0.2rem;

  .main {
    padding: .8rem .2rem;
  }

  .wrap {
    margin-top: .5rem;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      display: block;
      width: 1px;
      height: 90%;
      background-color: #fff;
      left: .62rem;
      top: .2rem;
      z-index: 0;
    }
  }

  .item {
    margin-bottom: .5rem;
    position: relative;
    z-index: 1;

    &:last-child {
      margin-bottom: 0;
    }

    .inner-wrap {
      display: flex;
      color: #fff;
      align-items: center;
      //justify-content: center;

      .box {
        margin-right: .3rem;
      }

      .con {
        flex: 1;
        line-height: .36rem;
      }
    }

    &.address {
      .box {
        //width: 0.7rem;
        //height: 0.7rem;
        width: 1.2rem;
        height: 1.2rem;
        //background-color: #fff;
        border-radius: 50%;
        position: relative;
        padding: .25rem;

        span {
          display: block;
          width: 100%;
          height: 100%;
          background-color: #fff;
          border-radius: 50%;
        }

        img {
          width: .43rem;
          .centerXY();
        }
      }

      .con {
        font-size: .3rem;
        color: @themeColor1;
      }
    }

    &.time {
      .box {
        width: 1.2rem;
        height: 1.2rem;
        background-color: rgba(255, 255, 255, .2);
        border-radius: 50%;
        padding: .07rem;

        span {
          display: block;
          width: 100%;
          height: 100%;
          background-color: @themeColor1;
          border-radius: 50%;
          text-align: center;
          line-height: 1.06rem;
          font-size: .26rem;
          color: #fff;
        }
      }

      .con {
        font-size: .26rem;

      }
    }
  }
}

.strategy {
  .main {
    padding-top: .8rem;
  }

  .wrap {
    margin-top: .5rem;
  }
}

.contact {
  .list {
    margin-bottom: 0.5rem;


    li {
      width: 33.33%;
      float: left;
      text-align: center;
      //display: inline-block;
      //text-align: left;
      //text-align-last: left;
      //padding-left: 90px;
      //background-image: url(../img/contact_icon.png);
      background-repeat: no-repeat;

      img {
        width: 1.1rem;
        display: block;
        margin: 0 auto .2rem;
      }

      p, a {
        font-size: .24rem;
        line-height: .36rem;
        color: #333;
      }

      &.tel {
        background-position: 0 center;
      }

      &.address {
        background-position: -385px center;
      }

      &.email {
        background-position: -930px center;
      }
    }
  }

  .contact-map-container {
    height: 4.5rem;
  }
}

#map {
  width: 100%;
  height: 100%;

  * {
    box-sizing: content-box;
  }

  img {
    width: auto;
  }

  input {
    all: initial;

    &[type=button] {
      text-align: center;
    }
  }

  .BMapLib_search_text {
    width: 100%;
    height: 20px;
    line-height: 20px;
    border: 1px solid #a5acb2;
  }

  .BMapLib_trans_text {
    width: 100%;
    height: 20px;
    line-height: 20px;
    border: 1px solid #a5acb2;
  }

  .BMapLib_SearchInfoWindow {
    .iw_bt,
    .iw_bt_down,
    .iw_bt_over {
      width: 48px;
      height: 26px;
      text-align: center;
      line-height: 18px;
      cursor: pointer;
      border: 0;
      padding: 0;
      background: url(http://api.map.baidu.com/library/SearchInfoWindow/1.4/src/iw_bg.png) no-repeat 0 -87px;
      vertical-align: middle;
    }
  }

  .BMapLib_sms_pnl_phone {
    input[type=text] {
      width: 120px;
      border: 1px solid #ddd;
    }
  }
}

.hj-form {
  .main {
    padding-top: .8rem;
  }


  .plate-desc {

    span {
      display: block;
      font-size: .24rem;
      color: #888;
    }

    a {
      color: @themeColor2;
      font-weight: normal;
    }
  }


  .wrap {
    margin-top: .3rem;
  }

  .item {
    //width: 575px;
    width: 100%;
    position: relative;
    margin-bottom: 0.2rem;


    &.text, &.btn {
      width: 100%;
    }

    span {
      position: absolute;
      top: 0;
      left: 0.2rem;
      line-height: .7rem;
      font-size: .24rem;
      color: #333;
    }

    input {
      display: block;
      width: 100%;
      height: .7rem;
      background-color: #f5f5f5;
      border: solid 1px #e5e5e5;
      padding: 0 0.2rem 0 0.8rem;
      font-size: .24rem;
      color: #333;
      transition-duration: .2s;
      outline: none;


      &:focus {
        border-color: @themeColor1;
      }


    }

    textarea {
      display: block;
      width: 100%;
      height: 3rem;
      background-color: #f5f5f5;
      border: solid 1px #e5e5e5;
      overflow: auto;
      resize: none;
      outline: none;
      font-size: .24rem;
      color: #333;
      padding: 0.1rem 0.2rem;
      transition-duration: .2s;

      &:focus {
        border-color: @themeColor1;
      }

      &::placeholder {
        font-family: inherit;

      }
    }

    .tips {
      text-align: center;
      font-size: .22rem;
      color: @themeColor2;
      line-height: 0.5rem;
    }

    &.btn {
      button {
        display: block;
        width: 3.62rem;
        height: .7rem;
        background-color: #9dc915;
        border-radius: 0.06rem;
        outline: none;
        cursor: pointer;
        border: none;
        margin: 0 auto;
        font-size: .3rem;
        color: #fff;
      }
    }
  }
}

.jmtj {
  .main {
    padding: .5rem .2rem .8rem .2rem;
  }

  .wrap {
    background-color: #f8f8f8;
    //padding: .3rem .2rem;
  }

  .tit {
    padding: .3rem .2rem 0;
    font-size: .38rem;
    font-weight: bold;
    color: @themeColor1;
  }

  .context {
    padding: .3rem .2rem .5rem;
    font-size: .26rem;
    color: #888;
    line-height: .48rem;

    i {
      color: @themeColor1;
      margin-right: .05rem;
    }
  }

  .pic {
    img {
      display: block;
    }
  }

}

.jmzc {
  background: url(../img/jmzc_bg.jpg) center center/cover no-repeat;

  .main {
    padding: .8rem .2rem;
  }

  .wrap {
    margin-top: .8rem;
  }

  .list {
    ul {
      padding: 0 .1rem;
    }

    li {
      width: 3.1rem;
      height: 2.1rem;
      background-color: #fff;
      border-radius: 0.1rem;
      float: left;
      margin-right: .7rem;
      margin-bottom: .7rem;
      position: relative;
      text-align: center;
      padding-top: .5rem;
      color: @themeColor1;

      &:nth-child(6) ~ li {
        margin-bottom: 0;
      }

      &:nth-child(2n) {
        margin-right: 0;
      }

      .icon {
        width: .75rem;
        position: absolute;
        left: 50%;
        top: -.3rem;
        transform: translateX(-50%);

        img {
          display: block;
        }
      }

      p {
        font-size: .36rem;
      }

      span {
        font-size: .24rem;
      }
    }
  }
}

.jmlc {
  .main {
    padding-top: .8rem;
  }

  .wrap {
    margin-top: .5rem;

    .pic {
      margin-bottom: .3rem;

      img {
        width: 5.34rem;
      }
    }
  }

  .swiper-container {
    width: 100%;
    height: 11.47rem;
    padding-bottom: .5rem;
  }

  .swiper-scrollbar {
    //height: .1rem;
    //height: .11rem;
    bottom: 0;
    //background-color: #7d7d7d;
    //padding: 1px;
    //border-radius: .1rem;

    .swiper-scrollbar-drag {
      background-color: #9dc815;
    }
  }

  .swiper-slide {
    width: auto;

    img {
      height: 100%;
      width: auto;
    }
  }
}

.news-list {

  li {
    padding: .5rem 0;
    border-bottom: 1px solid #e5e5e5;;
  }

  a {
    display: flex;
    justify-content: space-between;

    .pic {
      width: 3.1rem;
      height: 2.2rem;

      img {
        .coverImg();
      }
    }

    .con {
      width: 3.8rem;
      height: 2.2rem;
      position: relative;

      .tit {
        font-size: .32rem;
        color: #333;
        .line-camp(2);
        margin: .1rem 0;
      }

      .desc {
        font-size: .24rem;
        color: #999;
        .line-camp(2);
      }

      .time {
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: .24rem;
        color: @themeColor1;
      }
    }
  }
}

.hot-product {

  &.inner {
    .main {
      padding-top: 0;
    }
  }

  .main {
    padding-top: .8rem;
  }

  .wrap {
    margin-top: .5rem;
  }

  .list {
    li {
      width: 3.45rem;
      float: left;
      border: solid 1px #e5e5e5;
      margin-right: .2rem;
      margin-bottom: .2rem;
      text-align: center;

      &:nth-child(2n) {
        margin-right: 0;
      }

      .pic {
        height: 2.4rem;

        img {
          .coverImg();
        }
      }

      .con {
        padding: .2rem;

        .tit {
          font-size: .3rem;
          color: #333;
          margin: .1rem 0;
        }

        .params {
          font-size: .24rem;
          color: #666;
          line-height: .4rem;
        }
      }
    }
  }
}

.fenye {
  text-align: center;
  font-size: 0;
  margin-top: .6rem;

  .fenye-wrap {
    display: inline-block;
  }

  a {
    display: inline-block;
    font-size: .24rem;
    color: #999;
    line-height: .6rem;
    border: solid 1px #ccc;
    background-color: #fff;
    margin: 0 .05rem;
    padding: 0 .2rem;

    &.active {
      background-color: @themeColor1;
      border-color: @themeColor1;
      color: #fff;
    }
  }

}

.fanpian {
  margin-top: .6rem;

  a {
    display: block;
    background-color: #f7f7f7;
    border: solid 1px #e5e5e5;
    padding: 0 .2rem;
    line-height: .68rem;
    margin-bottom: .2rem;
    .nowrap();

    &.page-next {
      margin-bottom: 0;
    }
  }
}

.problem-list {
  &.problem {
    background-color: #fff;

    .main {
      padding-bottom: 0;
      padding-top: 0;
    }


    .list {

      li {
        background-color: #f7f7f7;
        border: solid 1px #e5e5e5;
        margin-bottom: .3rem;
        padding: .35rem .3rem .35rem 1.5rem;
        background-position: .3rem center;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.news-show {
  .main {
    padding-top: .8rem;
  }

  .news-title {
    text-align: center;
    font-size: .38rem;
    color: #333;
    margin-bottom: .3rem;
  }

  .news-publish {
    text-align: center;
    font-size: .24rem;
    color: #666;
    margin-bottom: .5rem;
  }

  .news-info {
    font-size: .26rem;
    color: #555;
    line-height: .48rem;

    p {
      text-indent: 2em;
    }

    img {
      display: block;
      margin: .2rem 0;
      width: 100% !important;
      height: auto !important;
    }
  }
}

.adv-2 {
  margin-top: .5rem;

  img {
    display: block;
  }
}

.plate-title-inner {
  font-size: .36rem;
  margin-bottom: .3rem;
}

.maybe {
  .wrap {
    margin-top: .5rem;
  }

  .list {
    li {
      width: 3.45rem;
      height: 1.8rem;
      border: solid 1px #e5e5e5;
      margin-right: .2rem;
      margin-bottom: .2rem;
      float: left;
      padding: .2rem;

      &:nth-child(2n) {
        margin-right: 0;
      }

      &:nth-child(7),
      &:nth-child(8) {
        margin-bottom: 0;
      }

      .tit {
        font-size: .3rem;
        color: #444;
        padding-left: .25rem;
        background-image: url(../img/bg_jt.png);
        background-size: .15rem .26rem;
        background-repeat: no-repeat;
        background-position: 0 center;
        margin: .1rem 0;
        .nowrap();
      }

      .desc {
        line-height: .42rem;
        font-size: .24rem;
        color: #888;
        .line-camp(2);
      }
    }
  }
}

.shop-list {
  .list {
    li {
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: .45rem;
      }

      .map-container {
        width: 100%;
        height: 4.2rem;
        border: solid 1px #e5e5e5;

        .map {
          width: 100%;
          height: 100%;

          * {
            box-sizing: content-box;
          }

          img {
            width: auto;
          }

          input {
            all: initial;

            &[type=button] {
              text-align: center;
            }
          }

          .BMapLib_search_text {
            width: 100%;
            height: 20px;
            line-height: 20px;
            border: 1px solid #a5acb2;
          }

          .BMapLib_trans_text {
            width: 100%;
            height: 20px;
            line-height: 20px;
            border: 1px solid #a5acb2;
          }

          .BMapLib_SearchInfoWindow {
            .iw_bt,
            .iw_bt_down,
            .iw_bt_over {
              width: 48px;
              height: 26px;
              text-align: center;
              line-height: 18px;
              cursor: pointer;
              border: 0;
              padding: 0;
              background: url(http://api.map.baidu.com/library/SearchInfoWindow/1.4/src/iw_bg.png) no-repeat 0 -87px;
              vertical-align: middle;
            }
          }

          .BMapLib_sms_pnl_phone {
            input[type=text] {
              width: 120px;
              border: 1px solid #ddd;
            }
          }
        }
      }

      .con {
        background-color: #eee;
        border: solid 1px #e5e5e5;
        padding: .3rem 1.3rem .3rem .3rem;
        position: relative;

        .shop-img {
          margin-bottom: .1rem;
        }

        .name {
          font-size: .3rem;
          color: #333;
          margin-bottom: .1rem;
        }

        .desc {
          font-size: .24rem;
          color: #666;
        }

        .btn {
          position: absolute;
          width: 1.1rem;
          height: 1.1rem;
          right: .2rem;
          bottom: -.55rem;
          background-color: @themeColor1;
          border-radius: 50%;
          text-align: center;
          padding: .15rem .2rem;


          a {
            font-size: .3rem;
            color: #fff;
          }
        }
      }
    }
  }
}

.zhoubian-list {
  .wrap {
    margin-top: .5rem;
  }

  .list {
    li {
      width: 3.45rem;
      border: solid 1px #e5e5e5;
      float: left;
      margin-right: .2rem;
      margin-bottom: .2rem;

      &:nth-child(2n) {
        margin-right: 0;
      }

      .pic {
        width: 100%;
        height: 2.34rem;

        img {
          .coverImg();
        }
      }

      .con {
        height: 2.68rem;
        text-align: center;
        padding: .4rem .2rem;

        .name {
          font-size: .3rem;
          color: #333;
          margin-bottom: .1rem;
          .nowrap();
        }

        .desc {
          font-size: .24rem;
          color: #666;
          margin-bottom: .2rem;
          .line-camp(2);
        }

        .btn {
          a {
            display: block;
            width: 1.9rem;
            height: 0.6rem;
            background-color: @themeColor1;
            border-radius: 0.5rem;
            line-height: .6rem;
            text-align: center;
            color: #fff;
            margin: 0 auto;

            i, span {
              font-size: .26rem;
            }
          }
        }
      }
    }
  }
}

.sjxx {
  .main {
    padding: 0 .2rem .8rem .2rem;
  }

  .wrap {
    background-color: #f8f8f8;
    //padding: .3rem .2rem;
  }

  .tit {
    padding: .3rem .2rem 0;
    font-size: .38rem;
    font-weight: bold;
    color: @themeColor1;
  }

  .context {
    padding: .3rem .2rem .5rem;
    font-size: .26rem;
    color: #888;
    line-height: .48rem;

    i {
      color: @themeColor1;
      margin-right: .05rem;
    }
  }

  .pic {
    img {
      display: block;
    }
  }

}

.hycp-list {
  .wrap {
    margin-top: .5rem;
  }

  .list {
    li {
      width: 3.45rem;
      height: 3.97rem;
      background: url(../img/hycp_list_bg.jpg) center center/cover no-repeat;
      border-radius: 0.2rem;
      float: left;
      margin-right: .2rem;
      margin-bottom: .2rem;
      padding: .2rem 0;
      text-align: center;

      &:nth-child(2n) {
        margin-right: 0;
      }

      img {
        display: block;
        height: 2rem;
        width: auto;
        margin: 0 auto;
      }

      p {
        font-size: .36rem;
        color: #fff;
        margin: .2rem;
        .nowrap();
      }

      .btn {
        a {
          display: block;
          width: 1.9rem;
          height: 0.6rem;
          background-color: #fff;
          box-shadow: 2px 1px 0 0 @themeColor1;
          border-radius: 0.5rem;
          line-height: .6rem;
          margin: 0 auto;

          i, span {
            color: @themeColor1;
            font-size: .26rem;
          }
        }
      }
    }
  }
}

.grass-list {
  .main {
    padding: .5rem .2rem .8rem .2rem;
  }

  li {
    border: solid 1px #e5e5e5;
    width: 3.45rem;
    overflow: hidden;
    transition-duration: .3s;
    float: left;
    margin-right: .2rem;
    margin-bottom: .2rem;

    &:nth-child(2n) {
      margin-right: 0;
    }

    .pic {
      height: 2.34rem;

      img {
        .coverImg()
      }
    }

    .con {
      height: 2.48rem;
      text-align: center;
      padding: 0.2rem;

      .tit {
        font-size: .3rem;
        color: #333;
        margin-bottom: 0.1rem;

      }

      .params {
        span {
          display: block;
          font-size: .24rem;
          color: #666;
          line-height: 0.4rem;
        }
      }
    }

    .btn {
      margin-top: .2rem;

      a {
        display: block;
        width: 1.9rem;
        height: 0.6rem;
        background-color: @themeColor1;
        border-radius: 0.5rem;
        line-height: .6rem;
        text-align: center;
        color: #fff;
        margin: 0 auto;

        i, span {
          font-size: .26rem;
        }
      }
    }
  }
}

.gift {
  background-color: #eee;
  background-image: -webkit-linear-gradient(top, transparent 0.08rem, #e7e7e7 0.1rem),
  -webkit-linear-gradient(left, transparent 0.08rem, #e7e7e7 0.1rem);
  background-size: 0.1rem 0.1rem;

  .main {
    padding: .8rem .2rem;
  }

  .wrap {
    margin-top: .5rem;
  }

  .first {
    width: 100%;
    height: 3.7rem;
    background-color: #fff;
    border-radius: 0.1rem;
    margin-bottom: .2rem;
    text-align: center;
    padding-top: .4rem;

    .pic {
      margin-bottom: .4rem;
    }

    img {
      display: block;
      width: 90%;
      height: auto;
      margin: 0 auto;
    }
  }

  .cn {
    font-size: .3rem;
    color: #666;
  }

  .en {
    font-size: .24rem;
    color: #bbb;
  }

  .list {
    li {
      width: 3.45rem;
      height: 4rem;
      background-color: #fff;
      border-radius: 0.1rem;
      float: left;
      margin-right: .2rem;
      margin-bottom: .2rem;
      text-align: center;

      &:nth-child(2n) {
        margin-right: 0;
      }


      .pic {
        width: 100%;
        height: 2.34rem;
        position: relative;
        margin: .3rem 0;
        padding: 0 .2rem;

        img {
          width: auto;
          height: auto;
          max-width: 95%;
          max-height: 95%;
          position: absolute;
          .centerXY();
        }
      }
    }

  }

  .btn {
    margin-top: .5rem;

    a {
      display: block;
      width: 2.6rem;
      height: 0.71rem;
      border-radius: 0.5rem;
      border: solid 1px #9dc915;
      margin: 0 auto;
      line-height: .69rem;
      font-size: .36rem;
      text-align: center;
      color: @themeColor1;
    }
  }
}

.show-film {

  .swiper-slide {
    background-color: #000;
  }

  .con {
    height: 2.74rem;
    background-color: @themeColor1;
    display: flex;
    align-items: center;
    padding: 0 .3rem;

    img {
      display: block;
      width: 1.69rem;
      margin-right: .3rem;
    }

    .tit {
      font-size: .48rem;
      font-weight: bold;
      color: #fff;
      margin-bottom: .1rem;
    }

    .desc {
      font-size: .24rem;
      color: #fff;
      margin-bottom: .25rem;
    }

    .btn {
      a {
        display: block;
        width: 2.3rem;
        height: 0.6rem;
        background-color: #eee;
        border-radius: 0.5rem;
        border: solid 1px @themeColor1;
        font-size: .24rem;
        color: @themeColor1;
        text-align: center;
        line-height: .58rem;
      }
    }
  }
}